.search-bar{
    width: 40%;
    padding: 10px;
    padding-left: 40px;
    border-radius: 20px;
    border: gray 2px solid;
}

.search-div svg{
    position: relative;
    left: 30px;
    top: 3px;
}

.books-cards-buy-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}